html {
    --background: #0f0f0f;
    --foreground: #fff;
    --primaryGradient: linear-gradient(90.08deg, #8471CF -28.47%, #9ACAE4 125.71%);
    --neutral1: #1B1B1B;
    --neutral2: #303030;
    --neutral3: #898989;
    --monospaceFont: 'Jetbrains Mono', monospace;
    --mainTransition: cubic-bezier(0.16, 1, 0.3, 1);
}